## Pyspark DB 연결 정보

In [ ]:
from pyspark.conf import SparkConf
from pyspark.sql import SQLContext
from pyspark import SparkContext
import findspark
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

# ----------------TEST------------------------------

In [ ]:
class abc : 
    
    def __init__(self, host, dbname,jdbcPort,user,password,query):
            
        self.host = host
        self.dbname = dbname
        self.jdbcPort = jdbcPort
        self.user = user
        self.password = password
        self.query = query
        
    def spark_sql_to_pandas(self,host,jdbcPort,dbname,user,password,query):
        findspark.add_packages('mysql:mysql-connector-java:8.0.25') # mysql connecter
        conf = SparkConf().setAll([('spark.driver.extraClassPath',
                            '/usr/share/java/mysql-connector-java-8.0.25.jar')])  # jar path추가.
        sc = SparkContext(appName="TestPySparkJDBC", conf=conf)
        sqlContext = SQLContext(sc)        
        jdbc_url = "jdbc:mysql://{0}:{1}/{2}?user={3}&password={4}".format(self.host,self.jdbcPort,self.dbname,self.user,self.password)
        df = sqlContext.read.format('jdbc').options(driver='com.mysql.jdbc.Driver', url=jdbc_url, dbtable=query).load().toPandas()
        return df
   
    def create_table(self,host,jdbcPort,dbname,user,password):
        engine = create_engine("mysql+mysqldb://{0}:{1}@{2}:{3}/{4}".format(self.user, self.password,self.host,self.jdbcPort,self.dbname),encoding='utf-8')
        self.conn = engine.connect()

In [ ]:
defg = abc(host,dbname,jdbcPort,user,password,query)

Pet_DataFrame = defg.spark_sql_to_pandas(host,dbname,jdbcPort,user,password,query)

In [ ]:
Pet_kinds = list(Pet_DataFrame[['breed']]['breed'])
temp = {}
temp2 = {}
for i in Pet_kinds:
    if i in temp: 
        temp[i] = temp[i] + 1
    else:
        temp[i] = 1 #없을 때
Pet_names = list(Pet_DataFrame[['name']]['name'])
for i in Pet_names:
    if i in temp2: 
        temp2[i] = temp2[i] + 1
    else:
        temp2[i] = 1 #없을 때
        
data = pd.DataFrame(list(temp.items()),columns = ['pet_kind', 'count'])

data2 = pd.DataFrame(list(temp2.items()),columns = ['pet_name', 'n_count'])

final_df = pd.merge(data,data2, how ='outer',left_index= True, right_index= True)

In [ ]:
# 로컬용
host = "172.23.0.1"
dbname = "testdb"
jdbcPort = 3306
user = "root"
password = "root"
query = '.'

In [ ]:
temp = abc(host,dbname,jdbcPort,user,password,query)

In [ ]:
engine = temp.create_table(host,dbname,jdbcPort,user,password)

In [ ]:
final_df = final_df.fillna('-')

In [ ]:
final_df

In [ ]:
final_df.to_sql(name='defg', con=engine, if_exists='replace')

# ----------------TEST------------------------------

In [ ]:
findspark.add_packages('mysql:mysql-connector-java:8.0.25') # mysql connecter
conf = SparkConf().setAll([('spark.driver.extraClassPath',
                            '/usr/share/java/mysql-connector-java-8.0.25.jar')])  # jar path추가.
sc = SparkContext(appName="TestPySparkJDBC", conf=conf)
sqlContext = SQLContext(sc)

conf = SparkConf().setAll([('spark.driver.extraClassPath',
                        '/usr/share/java/mysql-connector-java-8.0.25.jar')])  # jar path추가.

In [ ]:
hostname = "localhost" #local주소 컨테이너내에서 환경이기 때문에 ip주소가 필요
dbname = "sims"
jdbcPort = 3307
username = "smt_csl_prd"
password = "WpYrPRCwoPTx5NcQcucE"
jdbc_url = "jdbc:mysql://{0}:{1}/{2}?user={3}&password={4}".format(hostname,jdbcPort,dbname,username,password)
query = '(select * from pet) AS t'
df = sqlContext.read.format('jdbc').options(driver='com.mysql.jdbc.Driver', url=jdbc_url, dbtable=query).load()

In [ ]:
type(df)

In [ ]:
Pet_DataFrame = df.toPandas()

In [ ]:
Pet_DataFrame

In [ ]:
Pet_kinds = list(Pet_DataFrame[['breed']]['breed'])

In [ ]:
temp = {}
temp2 = {}

In [ ]:
for i in Pet_kinds:
    if i in temp: 
        temp[i] = temp[i] + 1
    else:
        temp[i] = 1 #없을 때

In [ ]:
Pet_names = list(Pet_DataFrame[['name']]['name'])

In [ ]:
for i in Pet_names:
    if i in temp2: 
        temp2[i] = temp2[i] + 1
    else:
        temp2[i] = 1 #없을 때

In [ ]:
data = pd.DataFrame(list(temp.items()),columns = ['pet_kind', 'count'])

data2 = pd.DataFrame(list(temp2.items()),columns = ['pet_name', 'n_count'])

final_df = pd.merge(data,data2, how ='outer',left_index= True, right_index= True)

## 내부 로컬 db (insert할 db)

In [ ]:
engine = create_engine("mysql+mysqldb://root:"+"root"+"@172.23.0.1:3306/testdb", encoding='utf-8')
conn = engine.connect()

In [ ]:
final_df.to_sql(name='abc', con=engine, if_exists='replace')

In [ ]:
hostname = "172.23.0.1" #local주소 컨테이너내에서 환경이기 때문에 ip주소가 필요
dbname = "testdb"
jdbcPort = 3306
username = "root"
password = "root"
jdbc_url = "jdbc:mysql://{0}:{1}/{2}?user={3}&password={4}".format(hostname,jdbcPort,dbname,username,password)
 
query = '(select * from testest) AS t'
df1 = sqlContext.read.format('jdbc').options(driver='com.mysql.jdbc.Driver', url=jdbc_url, dbtable=query).load()
df1.show()

# -------------test ------------------------------

In [ ]:
import batch_test as t
import pandas as pd
from pyspark.conf import SparkConf
from pyspark.sql import SQLContext
from pyspark import SparkContext
import findspark
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

In [ ]:
base = t.file_batch(query = '(select * from pet) AS t')

In [ ]:
df = base.execute('(select * from pet) AS t')